

@media screen and (max-width: 850px) {
    *{
    box-sizing: unset;
}
    .div-img{
        display: none;
    }
    .form{
        justify-content: center !important;
        align-items: center !important;
        height: 100vh;
        width: 100vw;
        text-align: center;
    }
    
}